---
---

<footer class="h-10 flex items-center justify-center">
  <span class="text-sm"
    >Copyright &copy; <span id="copyright"></span> - All rights reserved</span
  >
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
