---
---

<footer class="relative h-16 flex items-center justify-center">
  <div
    class="absolute top-0 w-11/12 h-px bg-gradient-to-r from-transparent via-secondary-600 to-transparent rounded"
  >
  </div>
  <span class="text-sm"
    >Copyright &copy; <span id="copyright"></span> - All rights reserved</span
  >
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
