---
import Navigation from "./Navigation.astro";
---

<header class="container h-16 flex items-center justify-between">
  <span class="uppercase font-semibold tracking-wider">Nyxfor13days</span>
  <Navigation />
</header>
