---
import { HiBeaker } from "react-icons/hi2";
---

<div class="h-screen flex items-center justify-center gap-4">
  <HiBeaker size={48} />
  <h1 class="max-w-sm text-sm">
    Site is undergoing chemical reactions for an exciting transformation
  </h1>
</div>
