---
import { Sprite } from "astro-icon";
---

<div class="h-screen flex items-center justify-center gap-4">
  <Sprite name="mdi:flask-round-bottom" />
  <h1 class="max-w-sm text-sm">
    Site is undergoing chemical reactions for an exciting transformation
  </h1>
</div>
