---
import Head from "./Head.astro";
import { Sprite } from "astro-icon";
import "../styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Nyxfor13days - A blog about lifestyle, programming, latest tech, and motivation",
  description = "Nyxfor13days is a software engineer and entrepreneur who writes about lifestyle, programming, latest tech, and motivation. Stay up-to-date with his latest blog posts.",
} = Astro.props as Props;
---

<html lang="en" class="dark">
  <Head {title} {description} />
  <body class="container">
    <Sprite.Provider>
      <Header />
      <slot />
      <Footer />
    </Sprite.Provider>
  </body>
</html>
