---
import Head from "./Head.astro";
import "../styles/globals.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Nyxfor13days - A blog about lifestyle, programming, latest tech, and motivation",
  description = "Nyxfor13days is a software engineer and entrepreneur who writes about lifestyle, programming, latest tech, and motivation. Stay up-to-date with his latest blog posts.",
} = Astro.props as Props;
---

<html lang="en" class="dark">
  <Head {title} {description} />
  <body class="container">
    <slot />
  </body>
</html>
